<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Back"
        [defaultHref]="['tabs/car-brand-page/car-model-page/', this.selectedSubModel.brand]"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="primarytext">{{this.selectedSubModel.submodel}} Spare Key</ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" (click)="onClickeditCarProgramDetails()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-nowrap">
      <ion-col
        class="specialOfferTileClass"
        size-xs="8"
        size-sm="4"
        size-md="3"
        size-lg="3"
        *ngFor="let remote of this.compatibleproducts"
      >
        <ion-card id="itemCardID" class="ion-activatable ripple-parent ion-no-margin">
          <ion-card-header color="primary" class="ion-text-uppercase">
            {{remote.productType}}
          </ion-card-header>
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size="12" class="ion-text-center">
                  <img class="imageClass" src="{{remote.image}}" height="200" />
                </ion-col>  
              </ion-row>
              <ion-row>
                <ion-col size="6" class="ion-text-start" style="margin-top: 5px !important;">
                  <ion-label class="ion-text-nowrap" *ngIf="remote.qtyavailable != undefined">
                    <ion-label color="medium" class="saveTag">QTY </ion-label>
                    <ion-note id="boxnumberID"
                      color="dark"
                      class="ion-text-nowrap"
                      >{{remote.qtyavailable}}</ion-note
                    >
                  </ion-label>
                </ion-col>
                <ion-col
                  size="6"
                  class="ion-text-end"
                >
                  <ion-label class="ion-text-nowrap" *ngIf="remote.boxnumber != undefined">
                    <ion-label color="medium" class="saveTag">BOX </ion-label>
                    <ion-label color="kdremotes" class="shellClass">{{remote.shell}}</ion-label>
                    <ion-note id="boxnumberID"
                      color="danger"
                      class="ion-text-nowrap"
                      >{{remote.boxnumber}}</ion-note
                    >
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-badge color="danger">{{remote.kdtype}}</ion-badge>
                  <br>
                  <ion-label color="medium">{{remote.kdrefname}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

      <ion-card class="ion-no-padding programming-tools">
        <ion-card-title>Smart Pro
          <ion-icon color="success" name="checkmark-circle"></ion-icon>
        </ion-card-title>
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row>
            <ion-col size="4" class="ion-no-padding ion-no-margin">
              <img class="smartproclass" src="https://firebasestorage.googleapis.com/v0/b/tapsy-stock-app-v3-database.appspot.com/o/images%2Fcommon%20images%2Fsmart-pro.png?alt=media&token=56f03b02-b5f4-4370-8b65-dfe9ea8119f8" />
            </ion-col>
            <ion-col size="8">
              <ion-item color="none" class="card-item-class">
                <ion-label class="small-text-class">Add Keys</ion-label>
                  <ion-icon class="ion-image-class" color="success" name="checkmark-circle"></ion-icon>
              </ion-item>
              <ion-item color="none" class="card-item-class">
                <ion-label class="small-text-class">All Keys will be erased</ion-label>
                  <ion-icon class="ion-image-class" color="success" name="checkmark-circle"></ion-icon>
              </ion-item>
              <ion-item color="none" class="card-item-class">
                <ion-label class="small-text-class">Erase Key only option</ion-label>
                  <ion-icon class="ion-image-class" color="success" name="checkmark-circle"></ion-icon>
              </ion-item>
              <ion-item color="none" class="card-item-class">
                <ion-label class="small-text-class">Min Keys required</ion-label>
                <ion-badge slot="end" style="margin-right: -3px;">2</ion-badge>
              </ion-item>
              <ion-item color="none" class="card-item-class">
                <ion-label class="small-text-class">Pin Code read</ion-label>
                  <ion-icon class="ion-image-class" color="danger" name="close-circle"></ion-icon>
              </ion-item>
              <ion-item color="none" class="card-item-class">
                <ion-label class="small-text-class">Pin Code required</ion-label>
                <ion-icon class="ion-image-class" color="danger" name="close-circle"></ion-icon>
              </ion-item>
              <ion-item color="none" class="card-item-class">
                <ion-label class="small-text-class">Remote&Key prog at once</ion-label>
                <ion-icon class="ion-image-class" color="success" name="checkmark-circle"></ion-icon>
              </ion-item>
            </ion-col>     
          </ion-row>
          <ion-row>
            <ion-col style="padding: 12px;">
              <ion-label class="ion-text-wrap">
                <ion-label id="spaecialnotesheaderID">Special Notes</ion-label>
                <br>
                <ion-label class="ion-text-wrap">Ranger need s a 10 min access time which requires a good amount of battery voltage </ion-label>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>


      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-margin">
          <ion-col size="12" class="ion-text-center">
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                <ion-text color="primary">
                  <ion-label color="dark" id="remotesTitleID">Related Videos</ion-label>
                </ion-text>
              </ion-label>
              <!-- <ion-button>Add Remote</ion-button> -->
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-nowrap">
          <ion-col
            class="specialOfferTileClass"
            size-xs="8"
            size-sm="4"
            size-md="3"
            size-lg="3"
            *ngFor="let remote of selectedSubModel.compatibleremotes"
          >
            <ion-card id="itemCardID" class="ion-activatable ripple-parent ion-no-margin">
              <ion-card-content>
                <ion-item class="card video-shadow">
                  <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/u-YFJGszrMY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
              </ion-item>
              </ion-card-content>
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      

</ion-content>
